<div class="hero-unit">
  <h1>Photo Publish</h1>
  <p>You have found the easiest way to share your photos with friends and family.</p>
  <p>Simply login to Dropbox and put your photos into the "Photo Publish" folder that is created. Your photos will then automatically show up on your photos page.</p>
  <p><a href='/log/in' class='btn btn-success btn-large'>Login to Dropbox</a></p>
</div>
