<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>IRC Logs</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />

    <script type="text/javascript" charset="utf-8" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="/javascripts/moment.js"></script>
    <script type="text/javascript" charset="utf-8" src="/javascripts/app.js"></script>
  </head>
  <body>
    <div class='row'>
      <div class='two columns date-list'>
        <div class='row'>
          <a class='button radius alert' href="/import/ant">Important</a>
        </div>
        <% all_dates.each do |date| %>
          <div class='row'>
            <a class='button radius alert' href='/<%= date %>'><%= date %></a>
          </div>
        <% end %>
      </div>
      <div class='ten columns'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
