body {
  background-color: #F4F4F4;
}


.photos {
  .brick {
    width: 280px;
    margin: 10px;

    .top-round {
      height: 3px;
      width: 100px;
      background-color: #FFFFFF;
      position: absolute;
    }
  }
}
