body {
  background-color: #F4F4F4;
}

.date-list {
  margin: 20px 0px;

  .row {
    margin-bottom: 10px;
  }
}

.panel {
  .row {
    padding: 4px 0px;
    border-bottom: 1px solid #E6E6E6;

    .important {
      color: #C60F13;
    }
  }
}

.search-boxes {
  .columns {
    padding: 0px;
  }
}
